/* BOSS
-------------------------------------------------------------------------------*/
#user-lists .list .user.id-3896066 .name:after,
#user-rollover.id-3896066 .meta .username:after,
#chat [data-cid^='3896066-'] .un:after {
    content: "BOSS";
    margin-left: 5px;
    background: rgba(0,0,0,.3);
    padding: 0px 5px;
    border: 1px solid rgba(206,10,10,.5);
    border-radius: 5px;
    color: #ce0a0a;
    font-size: 10px;
}

/*===================================== Naudotojo valdyba */
#user-rollover.id-3896066 .meta .thumb {
    border-color: rgba(206,10,10,.8) !important;
}








/* Developer
-------------------------------------------------------------------------------*/


/* Domas */
#user-lists .list .user.id-6310947 .name:after,
#user-rollover.id-6310947 .meta .username:after,
#chat [data-cid^='6310947-'] .un:after {
    content: "DEV";
    margin-left: 5px;
    background: rgba(0,0,0,.3);
    padding: 0px 5px;
    border: 1px solid rgba(66,165,220,.5);
    border-radius: 2px;
    color: #f2a207;
    font-size: 8px;
}

/*===================================== Programuotojas */
#user-rollover.id-6310947 .meta .thumb {
    border-color: #f2a207 !important;
}








/*============-Mr. Ruthless============* Badge


 /* -Mr. Ruthless */
#chat-messages .id-3896066 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/o47RXle.png');
        background-size:        cover;
}

#user-rollover.id-3896066 .info .badge-box .bdg {
	background: url(https://i.imgur.com/o47RXle.png)
        center no-repeat!important;
}




/*============Domas============* Badge


 /* Domas */
#chat-messages .id-6310947 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/rc86p1s.gif');
        background-size:        cover;
}

#user-rollover.id-6310947 .info .badge-box .bdg {
	background: url(https://i.imgur.com/rc86p1s.gif)
        center no-repeat!important;
}




/*============Silent============* Badge


 /* Silent */
#chat-messages .id-17826818 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/vQZJxHY.png');
        background-size:        cover;
}

#user-rollover.id-17826818 .info .badge-box .bdg {
	background: url(https://i.imgur.com/vQZJxHY.png)
        center no-repeat!important;
}




/*============-karolite_liudeselis============* Badge


 /* -karolite_liudeselis */
#chat-messages .id-6381024 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/xihfA3z.jpg');
        background-size:        cover;
}

#user-rollover.id-6381024 .info .badge-box .bdg {
	background: url(https://i.imgur.com/xihfA3z.jpg)
        center no-repeat!important;
}




/*============Rudeninė Pandutė============* Badge


 /* Rudeninė Pandutė */
#chat-messages .id-4133404 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/7l0Drsx.gif');
        background-size:        cover;
}

#user-rollover.id-4133404 .info .badge-box .bdg {
	background: url(https://i.imgur.com/7l0Drsx.gif)
        center no-repeat!important;
}




/*============-Tomyoo============* Badge


 /* -Tomyoo */
#chat-messages .id-3635634 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/dbItMNQ.jpg');
        background-size:        cover;
}

#user-rollover.id-3635634 .info .badge-box .bdg {
	background: url(https://i.imgur.com/dbItMNQ.jpg)
        center no-repeat!important;
}




/*============-Antitė============* Badge


 /* -Antitė */
#chat-messages .id-28854785 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/BbmLjUX.png');
        background-size:        cover;
}

#user-rollover.id-28854785 .info .badge-box .bdg {
	background: url(https://i.imgur.com/BbmLjUX.png)
        center no-repeat!important;
}




/*============-BlackWhiteTiger============* Badge


 /* -BlackWhiteTiger */
#chat-messages .id-3721161 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/UGSYxOe.png');
        background-size:        cover;
}

#user-rollover.id-3721161 .info .badge-box .bdg {
	background: url(https://i.imgur.com/UGSYxOe.png)
        center no-repeat!important;
}




/*============Pandele-============* Badge


 /* Pandele- */
#chat-messages .id-4281529 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/tZ47sGw.jpg');
        background-size:        cover;
}

#user-rollover.id-4281529 .info .badge-box .bdg {
	background: url(https://i.imgur.com/tZ47sGw.jpg)
        center no-repeat!important;
}
















